<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="page__wrapper">
        <nav class="page__navigation">
            <ul class="menu">
                <li class="menu__item"><a href="{%url 'index'%}">Главная</a></li>
                <li class="menu__item"><a href="{%url 'add_task'%}">Добавить проект</a></li>
                <li class="menu__item"><a href="{%url 'update_task'%}">Обновить проект</a></li>
                <li class="menu__item"><a href="{%url 'delete_task'%}">Удалить проект</a></li>
            </ul>
        </nav>
        <div class="content">
        {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>