{% extends "main.html" %}
{% block content %}
{% if tasks %}
<div class="project-container">
    <div class="project-switch"><==</div>
    <section class="project">
        <h2 class="project__title">{{tasks.title}}</h2>
        <p class="project__description">Описание задачи:{{tasks.1.task_description}}</p>
        <p class="project__deadline">Срок задачи:{{tasks.1.deadline}}</p>
        <p class="project__manager">ID менеджера:{{tasks.1.manager_id}}</p>
    </section>
    <div class="project-switch">==></div>
</div>
<br>
{% endif %}
{% endblock %}