<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Title</title>
</head>
<body>
{% for task in tasks %}
<div class="project-container">
    <div class="project-switch"><==</div>
    <section class="project">
        <h2 class="project__title">{{task.title}}</h2>
        <p class="project__description">Описание задачи:{{task.task_description}}</p>
        <p class="project__deadline">Срок задачи:{{task.deadline}}</p>
        <p class="project__manager">ID менеджера:{{task.manager_id}}</p>
    </section>
    <div class="project-switch">==></div>
</div>
<br>
{% endfor %}
</body>
</html>