{% extends "main.html" %}
{% block content %}
{% if tasks %}
{% load static %}

<main class="mainPage">
  <aside class="projectsList">
    <div class="projectsList__header">
      <h2>Список проектов</h2> 
      <div class="plus-icon"></div>
    </div>
    <ul class="projectsList__wrapper">

    </ul>
  </aside>
  <div class="project">
    <section class="project__wrapper">
     <!-- <div class="project__tasks">
       <h3>Список задач</h3>
       <div class="plus-icon"></div>
     </div> -->
<!--      <div class="task">-->
<!--        <label class="task__item"><input type='checkbox' /> {title}</label>-->
<!--        <div class="edit-icon"></div>-->
<!--        <div class="delete-icon"></div>-->
<!--      </div>-->
    </section>
  </div>
</main>
<br>

<template id="projectList">
      <li class="projectsListItem">
        <div  class="edit-icon"></div>
        <div class="delete-icon"></div>
        <span class="projectListTitle"></span>
      </li>
</template>

<template id="project">
    <div class="project__container">
      <h2 class="project__title"></h2>
      <p id="projectDescription"></p>
      <p id="projectDeadline"></p>
      <p id="projectManager"></p>
    </div>

</template>

<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>


{% endif %}
{% endblock %}